Checks: "-*,modernize-*,performance-*,readability-*,-readability-braces-around-statements,-readability-implicit-bool-conversion,
         -readability-uppercase-literal-suffix,
         clang-analyzer-*,-clang-analyzer-alpha*, cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,misc-*,
         -clang-analyzer-alpha.core.CastToStruct, bugprone-*,-bugprone-bool-pointer-implicit-conversion"
CheckOptions: [{key: AllowPointerConditions, value: 1},
               {key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1}]
FormatStyle: file